/* ===============================
   CONTENT WRAPPER
=============================== */
.dashboard-content-box {
    -fx-background-color: transparent;
}

/* ===============================
   HEADER
=============================== */
.dashboard-header {
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-size: 25;
    -fx-font-weight: 900;
    -fx-text-fill: #141652;
}

.date-time-label {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.welcome-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #12315B;
}

/* ===============================
   STATS CARDS
=============================== */
.stat-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
    -fx-padding: 20 0;
    -fx-alignment: center;
    -fx-spacing: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.07), 10, 0, 0, 2);
    -fx-text-alignment: center;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}

.stat-card:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
}

.stats-grid{
    -fx-background-radius: 10px;
}
.stat-icon {
    -fx-font-size: 28px;
    -fx-padding: 5 0;
    -fx-content-display: center;
}

.stat-value {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Impact";
}

.stat-label {
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-content-display: center;
    -fx-font-weight: bold;
}

.stat-sublabel {
    -fx-font-size: 11px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/* Colored card accents */
.card-blue {
    -fx-background-color:  #141652;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}

.card-blue:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
    -fx-border-width: 3px;
    -fx-border-radius: 10px
}

.card-yellow {
    -fx-background-color:  #33357A;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}

.card-yellow:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
    -fx-border-width: 3px;
    -fx-border-radius: 10px
}
.card-green {
    -fx-background-color:  #141652;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}

.card-green:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
    -fx-border-width: 3px;
    -fx-border-radius: 10px
}
.card-purple {
    -fx-background-color:  #33357A;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}

.card-purple:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
    -fx-border-width: 3px;
    -fx-border-radius: 10px
}

.card-red {
    -fx-background-color:  #141652;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-transition: all 0.2 ease;
}
.card-red:hover{
    -fx-background-color: #1E1F70; /* subtle hover */
    -fx-border-color: #FFEB50;     /* outline on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3); /* deeper shadow */
    -fx-border-width: 3px;
    -fx-border-radius: 10px
}

/* ===============================
   RECENT ACTIVITY
=============================== */
.section-title {
    -fx-font-size: 20;
    -fx-font-weight: 800;
    -fx-text-fill:  #141652;
}

.activity-list {
    -fx-background-color: #f3f4f6;
    -fx-padding: 18;
    -fx-background-radius: 18;
}

.activity-item {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0, 0, 1);
}

.activity-dot {
    -fx-font-size: 18px;
    -fx-text-fill: #2563eb;
}

.activity-text {
    -fx-font-size: 14px;
    -fx-text-fill: #111827;
}

.activity-time {
    -fx-font-size: 11px;
    -fx-text-fill: #6b7280;
}

/* ===============================
   QUICK ACTION BUTTONS
=============================== */
.action-button {
    -fx-background-color: #141652;
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-font-size: 14px;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.action-button:hover {
    -fx-background-color: #08306b;
}
